       <!-- Pending Recommendations Section -->
       <div class="bg-white p-4 rounded-lg shadow mt-4 mb-4">
        <h3 class="text-md font-medium mb-2">Pending Recommendations</h3>
        {% if pending_recommendations %}
            <table class="w-full text-left">
                <thead>
                    <tr class="bg-gray-200">
                        <th class="p-2">Name</th>
                        <th class="p-2">Email</th>
                        <th class="p-2">Recommended Role</th>
                        <th class="p-2">Branch</th>
                        <th class="p-2">Created By</th>
                        <th class="p-2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for recommendation in pending_recommendations %}
                        <tr class="border-b">
                            <td class="p-2">{{ recommendation.first_name }} {{ recommendation.last_name }}</td>
                            <td class="p-2">{{ recommendation.email }}</td>
                            <td class="p-2">{{ recommendation.recommended_role }}</td>
                            <td class="p-2">{{ recommendation.branch.name }}</td>
                            <td class="p-2">{{ recommendation.created_by.first_name }} {{ recommendation.created_by.last_name }}</td>
                            <td class="p-2">
                                <form method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="recommendation_id" value="{{ recommendation.id }}">
                                    <button type="submit" name="approve_recommendation" class="bg-cyan-600 text-white px-3 py-1 rounded hover:bg-cyan-700">Approve</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No pending recommendations.</p>
        {% endif %}
    </div>