{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <title>HR Dashboard — Farhat Printing Press</title>

  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet">
  <link href="{% static '/css/dashboard.css' %}" rel="stylesheet">
</head>

<body>

<!-- =========================
     GLOBAL HEADER
========================= -->
<header>
  <div class="header-inner">
    <div class="brand">
      <img src="/static/images/farhat-logo-small.png" alt="Farhat Logo" class="rounded-full w-16 h-16">
      <div>
  <strong>Farhat Printing Press</strong>
  <small>
    Human Resources Dashboard
    {% if request.user.region %}
    {% endif %}
  </small>
</div>

    </div>

    <div class="user">
      <span>{{ request.user.first_name }} {{ request.user.last_name }}</span>
      <a href="{% url 'employee_logout' %}">Logout</a>
    </div>
  </div>
</header>

<main>

  <!-- =========================
       CONTEXT SWITCHER
  ========================= -->
<nav class="metric-switch">
  <button class="switch-btn active" data-context="overview">
    Overview
  </button>

  <button class="switch-btn" data-context="branches">
    Branches
  </button>

  <button class="switch-btn" data-context="employees">
    Employees
  </button>

  <button class="switch-btn" data-context="payroll">
    Payroll
  </button>

  <button class="switch-btn" data-context="recruitment">
    Recruitment
  </button>
</nav>


  <!-- =========================
       CONTEXT PANELS
  ========================= -->
  <section class="context-container">

    <!-- Overview -->
    <section class="context-panel" data-context="overview">
      {% include 'hr/overview.html' %}
    </section>

        <!-- Branches -->
    <section class="context-panel hidden" data-context="branches">
      {% include 'hr/branches.html' %}
    </section>


    <!-- Employees -->
    <section class="context-panel hidden" data-context="employees">
      {% include 'hr/employees.html' %}
    </section>

    <!-- Payroll -->
    <section class="context-panel hidden" data-context="payroll">
      {% include 'hr/payroll.html' %}
    </section>

    <!-- Recruitment -->
    <section class="context-panel hidden" data-context="recruitment">
      {% include 'hr/recruitment.html' %}
    </section>

  </section>

</main>

<script type="module" src="{% static 'js/hr/hr.js' %}"></script>


</body>
</html>
